:root {
  ---purple: hsl(259, 100%, 65%);
  --lightRed: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightGrey: hsl(0, 0%, 86%);
  --smokeyGrey: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: var(--lightGrey);
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 401px) and (max-width: 615px) {

  .formContainer {
    justify-content: center;
  }

  .ageContainer {
    max-width: 450px;
  }

}

@media screen and (max-width: 400px) {

  .ageContainer {
    max-width: 375px;
  }

  .formContainer {
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .statTitle,
  .showCount {
    font-size: 40px !important;
  }

}

.parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  letter-spacing: 2px;
  font-size: 12px;
  color: var(--smokeyGrey);
  font-weight: 700;
}

input[type="text"] {
  margin-top: 8px;
  cursor: pointer;
  width: 124px;
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
  padding-inline: 16px;
  padding-block: 14px;
  font-size: 28px;
  font-weight: bolder;
  color: black;
}

input[type="text"]:focus {
  border: none;
  outline: none;
  border: 1px solid var(---purple);
}

input[type="text"]::placeholder {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

#calculate {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: var(---purple);
  border: 1px solid var(---purple);
  cursor: pointer;
  margin-bottom: 1.5rem;
  position: absolute;
  right: 6%;
  top: 28%;
}

#calculate:active {
  transform: translateY(2px);
}

#calculate:hover {
  background-color: black;
}

.ageContainer {
  background-color: var(--white);
  width: 650px;
  min-height: 450px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 25%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  position: relative;
}

.formContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  min-height: 124px;
  border-bottom: 1px solid var(--lightGrey);
}

.statsContainer {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
}

.compStat {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.showDay,
.showMonth,
.showYear {
  color: var(---purple);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dash {
  width: 36px;
  height: 12px;
  background-color: var(---purple);
}

.statTitle {
  font-size: 70px;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: bolder;
}

.showCount {
  font-size: 70px;
  font-weight: bolder;
  font-style: italic;
}

.error {
  border: 1px solid var(--lightRed) !important;
}

p:last-of-type {
  margin-top: 0.5rem;
}

.dateError,
.monthError,
.yearError {
  color: var(--lightRed);
  display: none;
}